page-item-detail {
  .item-profile {
    width: 100%;
    background-position: 0px -20px;
    background-size: cover;
    height: 300px;
  }

  .item-detail {
    width: 100%;
    background: white;
  }
}
