page-list-master {
    ion-searchbar.hidden {
        max-height: 0px;
        padding: 0 8px !important;
    }

    ion-searchbar {
        overflow: hidden;
        max-height: 100px;
        transition: max-height 0.7s ease, padding 0.8s ease;
    }
}
